@tailwind base;
@tailwind components;
@tailwind utilities;

/* ********************* */
main {
    overflow: auto;
    max-height: 87vh;
    scroll-snap-type: y mandatory;
  }
  
  section {
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 87vh;
    scroll-snap-align: center;
  }
  /* ****************** slide ************************** */
  @keyframes marquee-left {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  
  @keyframes marquee-right {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(100%);
    }
  }

  .mask-gradient {
    mask-image: linear-gradient(to right, transparent 0, black 128px, black calc(100% - 128px), transparent 100%);
  }
  
  .animate-marquee-left {
    white-space: nowrap;
    animation: marquee-left 40s linear infinite;
  }
  
  .animate-marquee-right {
    white-space: nowrap;
    animation: marquee-right 45s linear infinite;
  }
  /* ***************** Scrollbar ****************** */

  ::-webkit-scrollbar {
    width: .7rem;
  }
  
  ::-webkit-scrollbar-thumb {
    border-radius: 1rem;
    background: #7c6969;
    transition: all 0.5s ease-in-out;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #222224;
  }
  
  /* ::-webkit-scrollbar-track {
    background: #f9f9f9;
  } */
  

/* ************************* BandingCardSlide **************************** */

@media (min-width: 1440px) {
  html {
    zoom: .7;
  }
}

@media (min-width: 2560px) {
  html {
    zoom: .7;
  }
}

@media (min-width: 3860px) {
  html {
    zoom: .5;
  }
}

.swiper-slide-shadow-left,
.swiper-slide-shadow-right {
  display: none;
}
/* ************************* BandingCardSlide **************************** */